.mainContent {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: flex-start;
    overflow: hidden;
    top: 186px;
    position: fixed;
    left: 0;
    background-color: #F9F9F9;
}

.rightContent {
    height: calc(100vh - 200px);
    padding-bottom: 20px;
}