.reviewContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    height: 100%;
    overflow-y: auto;
    padding: 1rem 0rem 0rem 1rem;
    justify-content: center;
}

.reviewHeader {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
    padding: 0;
    color: black;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.reviewHeader h1 {
    font-size: 28px;
}

.sortBtn {
    align-items: center;
}