.reviewCard {
    background-color: #F9F9F9;
    padding: 7px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #505050;
    transition: transform 0.2s ease-in-out;
    width: 340px;
    max-height: 310px;
    border-radius: 25px;
    color: black;
    transition: 1s ease;
}

.reviewCard:hover {
    transform: translateY(-5px);
}

.reviewContent {
    padding: 13px;
    border-radius: 20px;
    min-height: 210px;
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dateSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.dateSection p {
    padding: 7px 10px 7px 10px;
    background-color: white;
    border-radius: 25px;
}

.bookmarkIcon {
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    overflow: visible;
}

.bookmarkBtn:hover {
    cursor: pointer;
}

.positionSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.positionSection p {
    margin-bottom: 0;
}

.positionSection h3 {
    margin: 0;
    max-width: 250px;
}

.reviewDetails {
    display: flex;
    flex-direction: row;
    padding: 15px 13px 15px 13px;
    justify-content: space-between;
}

.leftDetails {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.salary, .location {
    margin: 0;
    padding: 0;
}

.salary {
    font-weight: 600;
}

.location {
    color: rgb(94, 94, 94);
}

.detailsBtn {
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    background-color: #1a1a1a;
    font-weight: 500;
}

.titleIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.logo {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 25px;
}

.reviewBadges {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 5px;
    transition: all 0.7s ease;
}

.reviewBadges p {
    padding: 8px 10px 8px 10px;
    border-radius: 25px;
    border: 1px solid #797979;
    white-space: nowrap;
    margin: 0;
    font-size: 14px;
}

.reviewCard.expand .reviewBadges {
    flex-wrap: nowrap;
}

.reviewCard.expand {
    width: 716px;
}