.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background-color: #141413;
    color: #fff;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    white-space: nowrap;
    border-bottom: 1px solid #505050;
    z-index: 999;
}

.logo {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

.navLinks {
  display: flex;
  gap: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid transparent;
  min-width: 40px;
  font-weight: 300;
  font-style: normal;
}

.navbar a:hover {
  border-bottom: 1px solid white;
}

.navbar a.active {
  border-bottom: 1px solid white;
}

.userSection {
  font-style: normal;
}

.location {
  font-size: 0.95rem;
}
